body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/*Navbar colors */

.nav {
  color: #ffffff !important;
}

.nav a {
  color: #ffffff;
}

.nav a:hover {
  color: lightpink;
}

li.nav-item,
li.dropdown-toggle {
  color: #ffffff !important;
}

.dropdown,
.show a {
  color: lightpink !important;
}

/* For Mobile */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  ...;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  ...;
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
  ...;
}
