/* Fonts */

body {
  background: rgb(255, 182, 193) !important;
  background: linear-gradient(
    0deg,
    rgba(255, 182, 193, 1) 0%,
    rgba(255, 182, 193, 1) 14%,
    rgba(244, 244, 244, 1) 56%,
    rgba(252, 252, 252, 1) 91%
  ) !important;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
  font-size: 5rem;
}

h1 {
  font-size: 10rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p {
  padding: 1rem;
}

/* For line */
/* Glyph, by Harry Roberts */

hr.style-eight {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double rgb(255, 182, 193);
  color: rgb(255, 182, 193);
  text-align: center;
}
hr.style-eight:after {
  content: "♡";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

a {
  color: rgb(255, 182, 193) !important;
}

a:hover {
  color: #000000 !important;
  text-decoration: underline;
}

/*Navbar colors */

.nav {
  color: #ffffff !important;
}

.nav a {
  color: #ffffff;
}

.nav a:hover {
  color: rgb(255, 182, 193);
}

li.nav-item,
li.dropdown-toggle {
  color: #ffffff !important;
}

.dropdown,
.show a {
  color: rgb(255, 182, 193) !important;
}

/* Slideshow settings */
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Container Styles */
.container {
  background-color: #ffffff;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 0;
  padding: 20px;
  vertical-align: center;
}

/* Image styles */
img {
  border-radius: 1rem;
  padding: 1rem;
  width: 300px;
}

.left {
  border-radius: 1rem;
  float: left;
  padding: 1rem;
}

.right {
  border-radius: 1rem;
  float: right;
  padding: 1rem;
}

/* Footer */
.container.footer {
  background-color: #343a40;
  color: #ffffff;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center;
  width: 100%;
  max-width: 100%;
}

/* Social icons */
i.fas,
i.fab,
i.far {
  color: rgb(255, 182, 193);
  font-size: 3rem;
  margin: 0 auto;
  padding-top: 25px;
}

/* For Mobile */
/* responsive nav stacked liked 3.x */
@media (max-width: 992px) {
  button {
    font-size: 1rem;
    padding: 1px;
  }

  ul {
    font-size: 1rem;
    padding: 1px;
  }

  .navbar-brand {
    display: block;
    float: none;
    font-size: 1rem;
    padding: 1px;
    text-align: center;
  }

  .navbar-nav {
    float: none !important;
    font-size: 1rem;
    padding: 1px;
  }
}

@media (max-width: 768px) {
  button {
    font-size: 1rem;
    padding: 1px;
  }

  ul {
    font-size: 1rem;
    padding: 2px;
  }

  .navbar-brand {
    float: none;
    display: block;
    padding: 1px;
  }

  .navbar-nav {
    float: none !important;
    font-size: 1rem;
    padding: 1px;
  }
}

@media (max-width: 544px) {
  button {
    font-size: 0.75rem;
    padding: 1px;
  }

  ul {
    font-size: 0.75rem;
    padding: 1px;
  }

  .navbar-brand {
    float: none;
    font-size: 0.75rem;
    display: block;
    padding: 1px;
  }

  .navbar-nav {
    float: none !important;
    font-size: 0.75rem;
    padding: 1px;
  }

  .left {
    border-radius: 1rem;
    float: none;
    padding: 1rem;
  }

  .right {
    border-radius: 1rem;
    float: none;
    padding: 1rem;
  }
}
